# Node modules
/node_modules

# Archivos de log
*.log

# Carpetas de compilación o distribución
/dist
/build

# Variables de entorno
.env

# Otros archivos temporales o del sistema
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*